<!DOCTYPE html>
<html mip>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>naboo测试</title>
    <link rel="stylesheet" type="text/css" href="https://mipcache.bdstatic.com/static/v1/mip.css">
    <link rel="canonical" href="对应的原页面地址">
    <style mip-custom>
    </style>
</head>
<body>
    <mip-fixed type="top">上边1</mip-fixed>
    <mip-fixed type="bottom">下边2</mip-fixed>
    <mip-fixed type="right" top="50px">右边3</mip-fixed>
    <mip-fixed type="right" top="70px">右边4</mip-fixed>
    <mip-fixed type="left">左边5</mip-fixed>
    <mip-fixed type="left" top="70px">左边6</mip-fixed>
    <mip-fixed type="left" top="90px">左边7</mip-fixed>
    <mip-fixed type="left" top="110px">左边8</mip-fixed>
    <mip-fixed type="left" top="130px">左边9</mip-fixed>
    <mip-fixed type="gototop">
        <mip-gototop>goto</mip-gototop>
    </mip-fixed>
    <mip-fixed type="gototop">
        <div>123</div>
    </mip-fixed>
    <mip-fixed type="left" top="150px">左边10</mip-fixed>
    <mip-fixed type="left" top="170px">左边11</mip-fixed>
    <mip-fixed type="left" top="190px">左边12</mip-fixed>
    <mip-fixed type="left" top="210px">左边13</mip-fixed>
    <script type="text/javascript" src="../public/fixed.js"></script>
</body>
</html>
