<!DOCTYPE html>
<html mip>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="https://mipcache.bdstatic.com/static/v1/mip.css">
    <link rel="canonical" href="http://itoss.me/mip-test/views/mip-custom.html">
    <style mip-custom>
    </style>
</head>
<body>
    <h2>定制化MIP示例页面</h2>
    <p>正文</p>
    <mip-custom>
        <script type="application/json">
        {
            "accid": "34345345345",
            "title": "定制化MIP示例页面"
        }
        </script>
    </mip-custom>
    <script src="https://mipcache.bdstatic.com/static/v1/mip.js"></script>
    <script src="https://mipcache.bdstatic.com/static/v1/mip-mustache/mip-mustache.js"></script>
    <script src="https://mipcache.bdstatic.com/static/v1/mip-custom/mip-custom.js"></script>
</body>
</html>