<!DOCTYPE html>
<html mip>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title><!-- 标题 --></title>
    <link rel="stylesheet" type="text/css" href="https://mipcache.bdstatic.com/static/v1/mip.css">
    <link rel="canonical" href="对应的原页面地址">
    <style mip-custom>
    /* 自定义样式 */
    </style>
</head>
<body>
<!-- 正文 -->

<script src="https://mipcache.bdstatic.com/static/v1/mip.js"></script>
<script type="text/javascript">
	var img = document.createElement('mip-img');
	img.setAttribute('layout', 'responsive');
	img.setAttribute('width', '350');
	img.setAttribute('height', '263');
	img.setAttribute('src', 'http://pubimage.360doc.com/index7/bannerl_1.jpg');
	document.body.appendChild(img);
</script>

</body>
</html>
